[submodule "server"]
	path = server
	url = https://github.com/nexus-line-it/server.git
[submodule "android"]
	path = android
	url = https://github.com/nexus-line-it/android.git
[submodule "web"]
	path = web
	url = https://github.com/nexus-line-it/web.git
